<h2>ジャンル編集</h2>
<%= form_with model: @genre, url: admins_genres_path(@genre), method: :patch do |f| %> <!-- 一覧画面（index）に遷移 -->
 <label for="name">ジャンル名</label>
 <%= f.text_field :name, class:"form-control" %>
 <%= f.submit "変更を保存", class:"btn btn-success" %>
<% end %>


<!--変更を保ボタン未完成　urlが間違えている.解決方法不明-->