<div class="container">
    <div class="row">
        <div class="col-md-3">
          ジャンル
        </div>
           <div class="col-md-9">
              <div class="items">商品一覧</div>
              <div class="col-md-3 col-xs-6 under-10">
                  <div class="d-flex flex-wrap justify-content-start">
                  <table class="table table-inverse">
                      <tbody>
                          <% @items.each do |item| %>
                          <tr>
                            <%= link_to publics_item_path(item.id) do %>
                              <td><%= image_tag item_image, size: '150x100' %></td>
                              <td><%= item.name %></td>
                              <td><%= item.price %></td>
                            <% end %>
                          </tr>
                          <% end %>
                      </tbody>
                  </table>
                  </div>
              </div>
        </div>
    </div>
</div>