<div class="container">
  <div class="row=40 clearfix">
    <div class="col-md-9 col-md-push-3 col-xs-12">
       <h2>商品一覧</h2>
          <table class="table thead-class">
             <tbody>
                <tr class="table-secondary"><th>商品ID</th>
                 <th>商品名</th>
                  <th>税抜価格</th>
                    <th>ジャンル</th>
                  <th>ステータス</th>
                </tr>
          <% @items .each do |item| %>
              <tr>
                <td><%= item.id %></td>
                  <td><%= link_to item.name, admins_item_path(item.id) %></td>
                    <td><%= item.price.to_s %></td>
                  <td><%= genre.name %></td>
               <td>
                 <% if item.is_active %><%# is_activeの情報を取得して在庫があるかチェック %>
                   <b class="text-success">販売中</b> <%# true(初期値)の時の表示 %>
                 <% else %>
                   <b class="text-secondary">販売停止中</b> <%# false(売り切れ)の時の表示 %>
                 <% end %>
               </td>
              </tr>
          <% end %>
             </tbody>
          </table>
    </div>
  </div>
</div>
