<div class='container'>
  <div class='row'>
   <div class="col-md-2 bg-dark text-white"style="margin-top: 50px;">
          
          ジャンル機能<br/>建設予定地
          <br/>
          <br/>
          のちに追記します
        </div>
      <div class='col-md-4 'style="text-align: center;margin-top: 50px;">
        <%= image_tag @item.get_image, size: "350x350" %>
      </div>
      <div class="col-md-6 "style="margin-top: 50px;">
      
          <h3 class="font-weight-bold my-5"><%= @item.name %></h3>
          <p><%= @item.introduction %></p>
          <h3 class="font-weight-bold my-5">￥<%= (@item.price) %><span style="font-size:15px;">(税込)</span></h3>
          
          <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
          <span>　</span>
          <button type="button" class="btn btn-danger rounded-circle p-0" style="width:2rem;height:2rem;">－</button>
          
          <div class="button" style="text-align: right;">
          <button type="button" class="btn btn-outline-success btn-lg">カートに入れる</button>
          </div>
      </div>
    </div>
  </div>